<h3>{{ _("BTT TFT Touchscreen Settings") }}</h3>

<form class="form-horizontal">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.btt_touch_support.progress_from_time"> {{ _("Use time estimate") }}
            <span class="help-block">
                {{ _("Calculate progress based on time elapsed and time remaining. Useful for <code>PrintTimeGenius</code> users.") }}
            </span>
        </label>
    </div>
</form>
